 <div class="header-main bg-light">
        <div class="logo">
          <h1><a class="navbar-brand" href="/"><%= image_tag("logo.png", :width => "100%") %></a>
        </div>
        <div class="top-nav">
          <!-- <span class="menu"> <img src="images/icon.png" alt=""/></span> -->
          <span class="menu"><span class="glyphicon glyphicon-th-list"></span></span>
        <nav class="cl-effect-1">
          <ul class="res">
             <li><a href="/" class="active">Home</a></li> 
             <!-- <li><a  href="/workorders">Workorders</a></li>  -->
            <!-- <li><a  href="/stockworkorders">Stock Workorders</a></li>  -->
            <!-- <li><a href="gallery.html">Gallery</a></li>  -->
            <!-- <li><a href="shortcords.html">Short Codes</a></li>  -->
           <li><%= button_to('Sign in', new_user_session_path, :class => "btn btn-primary") %></li>
           </ul>
         </nav>
          <!-- script-for-menu -->
             <script>
               $( "span.menu" ).click(function() {
               $( "ul.res" ).slideToggle( 300, function() {
               // Animation complete.
                });
               });
            </script>
            <!-- /script-for-menu -->
        </div>
         <div class="clearfix"></div>
     </div>



<!-- <nav class="navbar navbar-expand-sm bg-light navbar-light"> -->
  <!-- Brand -->
  <!-- <a class="navbar-brand" href="/"><%= image_tag("logo.png", :width => "80%") %></a> -->

  <!-- Links -->
  <!-- <ul class="navbar-nav navbar-right"> -->
   <!--  <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li> -->

    <!-- Dropdown -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li> -->
  <!-- </ul> -->
  <!-- <div class="navbar-collapse collapse w-20 order-3 dual-collapse2"> -->
        <!-- <ul class="navbar-nav ml-auto"> -->
            <!-- <li class="nav-item"> -->
                <!-- <li><%= button_to('Sign in', new_user_session_path, :class => "btn btn-primary") %></li> -->
            <!-- </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn">Logout</button></a>
            </li> -->
        <!-- </ul> -->
    <!-- </div> -->
<!-- </nav> -->